<div class="  aem-GridColumn aem-GridColumn--default--12">
    <div class="aem-container aem-Grid aem-Grid--12 aem-Grid--default--12">
        <div class=" aem-GridColumn aem-GridColumn--default--12">
            <div></div>

            <div class="aem-container aem-Grid aem-Grid--12 aem-Grid--default--12 aem-Grid--phone--12 PDPContainer pdp-container">
                <div class=" aem-GridColumn aem-GridColumn--default--12">
                    <button id="_en_products_product_jcr_content_root_responsivegrid_pdp_1314223494_goback"
                            class="goback" data-rte-editelement="true"><p>← Back to list</p></button>
                    <div></div>
                </div>
                <knotx:snippet data-knotx-task="pdp-fetch-task">
                    {{#each pdp-fetch._result.items}}
                    <div class="  aem-GridColumn aem-GridColumn--default--6 aem-GridColumn--offset--default--0 aem-GridColumn--default--none aem-GridColumn--phone--12 aem-GridColumn--offset--phone--0 aem-GridColumn--phone--none">
                        <div class="aem-container aem-Grid aem-Grid--default--6 aem-Grid--phone--12">
                            <div class=" aem-GridColumn aem-GridColumn--default--6 aem-GridColumn--offset--default--0 aem-GridColumn--default--none aem-GridColumn--phone--12 aem-GridColumn--offset--phone--0 aem-GridColumn--phone--none">
                                <div id="_en_products_product_jcr_content_root_responsivegrid_pdp_1314223494_responsivegrid_183686902_dynamicimage"
                                     class="dynamic-image">
                                    <div class="dynamic-image-main"><img
                                            src="https://spapoc-publish.cognifide.com/pub/media/catalog/product/cache/b34535a2edc3848ec2d94b7388198cff/w/h/wh01-green_main_1.jpg"
                                            alt="{{this.name}}"></div>
                                    <div class="dynamic-image-thumbnails"><img tabindex="0" class="selected"
                                                                               src="https://spapoc-publish.cognifide.com/pub/media/catalog/product/cache/b34535a2edc3848ec2d94b7388198cff/w/h/wh01-green_main_1.jpg"
                                                                               alt="{{this.name}}"><img
                                            tabindex="0"
                                            class=""
                                            src="https://spapoc-publish.cognifide.com/pub/media/catalog/product/cache/b34535a2edc3848ec2d94b7388198cff/w/h/wh01-green_alt1_1.jpg"
                                            alt="{{this.name}}"><img
                                            tabindex="0" class=""
                                            src="https://spapoc-publish.cognifide.com/pub/media/catalog/product/cache/b34535a2edc3848ec2d94b7388198cff/w/h/wh01-green_back_1.jpg"
                                            alt="{{this.name}}"></div>
                                </div>
                                <div></div>
                            </div>
                        </div>
                        <div></div>
                    </div>
                    <div class="  aem-GridColumn aem-GridColumn--default--6 aem-GridColumn--offset--default--0 aem-GridColumn--default--none aem-GridColumn--phone--12 aem-GridColumn--offset--phone--0 aem-GridColumn--phone--none">
                        <div class="aem-container aem-Grid aem-Grid--default--6 aem-Grid--phone--12">
                            <div class=" m-text16 p-b-13 aem-GridColumn aem-GridColumn--phone--6 aem-GridColumn--offset--phone--0 aem-GridColumn--phone--none aem-GridColumn--default--6">
                                <div>
                                    <div id="_en_products_product_jcr_content_root_responsivegrid_pdp_1314223494_responsivegrid_text"
                                         data-rte-editelement="true"><p>{{this.name}}&nbsp;</p></div>
                                </div>
                                <div></div>
                            </div>
                            <div class=" m-text16 aem-GridColumn aem-GridColumn--default--6 aem-GridColumn--phone--6">
                                <div>
                                    <div id="_en_products_product_jcr_content_root_responsivegrid_pdp_1314223494_responsivegrid_text_141075371"
                                         data-rte-editelement="true"><p>$ 57&nbsp;</p></div>
                                </div>
                                <div></div>
                            </div>
                            <div class=" s-text8 aem-GridColumn aem-GridColumn--phone--6 aem-GridColumn--offset--phone--0 aem-GridColumn--phone--none aem-GridColumn--default--6">
                                <div>
                                    <div id="_en_products_product_jcr_content_root_responsivegrid_pdp_1314223494_responsivegrid_text_1417073913"
                                         data-rte-editelement="true"><p>Whether you're after energizing activity or
                                        eye-catching apparel, the Mona Pullover is what you want. You'll stay warm and
                                        look
                                        fashionable, wherever you are.<br> <br> • Light green heathered hoodie. <br> •
                                        Long-Sleeve, pullover.<br> • Long elliptical hem for extra coverage.<br> • Deep
                                        button placket for layering.<br> • Double rib design.<br> • Mid layer, mid
                                        weight.<br> • 98% Merino Wool / 2% Spandex<br>
                                    </p></div>
                                </div>
                                <div></div>
                            </div>
                            <div class=" aem-GridColumn aem-GridColumn--phone--12 aem-GridColumn--offset--phone--0 aem-GridColumn--phone--none aem-GridColumn--default--6">
                                <div class="p-t-30 p-b-20">
                                    <div class="flex-m flex-w p-b-15">
                                        <div class="s-text15 w-size15 t-center">Size</div>
                                        <select class="rs2-select2 rs3-select2 bo4 of-hidden w-size16" name="size">
                                            <option disabled="" selected="">Choose size</option>
                                            <option>XS</option>
                                            <option>S</option>
                                            <option>M</option>
                                            <option>L</option>
                                            <option>XL</option>
                                        </select></div>
                                    <div class="flex-m flex-w p-b-15">
                                        <div class="s-text15 w-size15 t-center">Color</div>
                                        <ul class="rs2-select2 rs3-select2 flex-m of-hidden w-size16" name="color">
                                            <li class="m-r-10">
                                                <button class="color-filter " title="Green" aria-label="Color Green"
                                                        style="background-color: green;"></button>
                                            </li>
                                            <li class="m-r-10">
                                                <button class="color-filter " title="Orange" aria-label="Color Orange"
                                                        style="background-color: orange;"></button>
                                            </li>
                                            <li class="m-r-10">
                                                <button class="color-filter " title="Purple" aria-label="Color Purple"
                                                        style="background-color: purple;"></button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div></div>
                            </div>
                            <div class=" aem-GridColumn aem-GridColumn--default--4 aem-GridColumn--offset--default--1 aem-GridColumn--default--none aem-GridColumn--phone--4 aem-GridColumn--offset--phone--4">
                                <div></div>
                            </div>
                        </div>
                        <div></div>
                    </div>
                    {{/each}}
                </knotx:snippet>
            </div>
        </div>
    </div>
    <div></div>
</div>