<header class="header1">
    <div class="container-menu-header">
        <div class="wrap_header">
            <a class="logo"
               aria-label="Page Logotype - Wellbeing Warehouse"
               href="http://spapoc-int-publish.cognet.local/en/home">
                    <img src="/content/dam/handlebars/spapoc-logo.png" alt="Homepage">
            </a>
            <div class="wrap_menu">
                <nav class="menu">
                    <ul class="main_menu">

                        <knotx:snippet data-knotx-task="mega-menu-task">
                            <li><a class="s-text13 active1"
                                   href="http://spapoc-int-publish.cognet.local/en/products/What's%20New_38">{{megaMenuTop}}</a>
                            </li>
                        </knotx:snippet>

                        <li><a class="s-text13 active1"
                               href="http://spapoc-int-publish.cognet.local/en/products/What's%20New_38">What's New</a>
                        </li>
                        <li><a class="s-text13 active1"
                               href="http://spapoc-int-publish.cognet.local/en/products/Women_20">Women</a>
                            <ul class="sub_menu">
                                <li>
                                    <a href="http://spapoc-int-publish.cognet.local/en/products/tops_21/Tops_21">Tops</a>
                                </li>
                                <li><a href="http://spapoc-int-publish.cognet.local/en/products/Bottoms_22">Bottoms</a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="s-text13 active1"
                               href="http://spapoc-int-publish.cognet.local/en/products/Men_11">Men</a>
                            <ul class="sub_menu">
                                <li><a href="http://spapoc-int-publish.cognet.local/en/products/Tops_12">Tops</a></li>
                                <li><a href="http://spapoc-int-publish.cognet.local/en/products/Bottoms_13">Bottoms</a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="s-text13 active1"
                               href="http://spapoc-int-publish.cognet.local/en/products/Gear_3">Gear</a>
                            <ul class="sub_menu">
                                <li><a href="http://spapoc-int-publish.cognet.local/en/products/Bags_4">Bags</a></li>
                                <li><a href="http://spapoc-int-publish.cognet.local/en/products/Fitness%20Equipment_5">Fitness
                                    Equipment</a></li>
                                <li><a href="http://spapoc-int-publish.cognet.local/en/products/Watches_6">Watches</a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="s-text13 active1"
                               href="http://spapoc-int-publish.cognet.local/en/products/training_9/Training_9">Training</a>
                            <ul class="sub_menu">
                                <li><a href="http://spapoc-int-publish.cognet.local/en/products/Video%20Download_10">Video
                                    Download</a></li>
                            </ul>
                        </li>
                        <li><a class="s-text13 active1"
                               href="http://spapoc-int-publish.cognet.local/en/products/Sale_37">Sale</a></li>
                        <li><a class="s-text13 active1" href="http://spapoc-int-publish.cognet.local/en/home">Others</a>
                            <ul class="sub_menu">
                                <li><a href="http://spapoc-int-publish.cognet.local/en/home/events">Events</a></li>
                                <li><a href="http://spapoc-int-publish.cognet.local/en/home/faq">FAQ</a></li>
                                <li><a href="http://spapoc-int-publish.cognet.local/en/home/about-us">About Us</a></li>
                                <li><a href="http://spapoc-int-publish.cognet.local/en/home/delivery">Delivery</a></li>
                                <li><a href="http://spapoc-int-publish.cognet.local/en/home/bestsellers">Bestsellers</a>
                                </li>
                                <li><a href="http://spapoc-int-publish.cognet.local/en/home/broken">Broken Page</a></li>
                                <li><a href="http://spapoc-int-publish.cognet.local/en/home/restricted-page">Restricted
                                    Page</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="header-icons">
                <div class="search-product-wrapper expandable">
                    <div class="search-product pos-relative bo4 of-hidden ">
                        <form><label class="visually-hidden" for="search-product">Search...</label><input
                                class="s-text7 size6 p-l-50 p-r-50" type="text" name="search-product"
                                id="search-product" placeholder="Search...">
                            <button aria-label="Submit serch term" type="submit"
                                    class="flex-c-m size5 ab-r-m color2 color0-hov trans-0-4"><i
                                    class="fs-12 fa fa-search" aria-hidden="true"></i></button>
                            <button class="search-product-close-button flex-c-m size5 ab-l-m color2 color0-hov trans-0-4"
                                    aria-label="Close search field"><i class="fs-12 fa fa-close" aria-hidden="true"></i>
                            </button>
                        </form>
                    </div>
                    <button aria-label="Open search field"><i
                            class="search-icon header-wrapicon1 dis-block visible"><img
                            src="/content/dam/handlebars/icons/icon-search.png" class="header-icon1" alt="ICON"></i>
                    </button>
                </div>
                <span class="linedivide2"></span><i class="header-wrapicon1 dis-block"><a aria-label="Your Profile"
                                                                                          href="http://spapoc-int-publish.cognet.local/en/home/myProfile"><img
                    src="/content/dam/handlebars/icons/icon-header-01.png" class="header-icon1" alt="ICON"></a></i><span
                    class="linedivide2"></span>
                <div class="header-wrapicon2">
                    <button aria-label="View you cart"><img src="/content/dam/handlebars/icons/icon-header-02.png"
                                                            class="header-icon1 js-show-header-dropdown" alt="ICON">
                    </button>
                    <span class="header-icons-noti">0</span></div>
            </div>
        </div>
        <span tabindex="-1" id="endOfNav" aria-label="End of navigation"></span></div>
</header>