<div class=" aem-GridColumn aem-GridColumn--default--12">
    <div class="snippet-component snippet-no-padding">
        <div>
            <div class="aem-container aem-Grid aem-Grid--12 aem-Grid--default--12">
                <div class="  aem-GridColumn aem-GridColumn--default--12 aem-GridColumn--offset--default--0 aem-GridColumn--default--none">
                    <div class="aem-container aem-Grid aem-Grid--default--12 aem-Grid--tablet--12 aem-Grid--phone--12 box box-footer">
                        <div class="  aem-GridColumn aem-GridColumn--tablet--12 aem-GridColumn--offset--tablet--0 aem-GridColumn--tablet--none aem-GridColumn--default--4 aem-GridColumn--offset--default--0 aem-GridColumn--default--none aem-GridColumn--phone--12 aem-GridColumn--offset--phone--0 aem-GridColumn--phone--none">
                            <div class="aem-container aem-Grid aem-Grid--default--4 aem-Grid--tablet--12 aem-Grid--phone--12 box null">
                                <div class="  aem-GridColumn aem-GridColumn--phone--10 aem-GridColumn--offset--phone--0 aem-GridColumn--phone--none aem-GridColumn--tablet--12 aem-GridColumn--default--4">
                                    <div>
                                        <div id="_content_spapoc_snippets-root_footer-snippet_jcr_content_root_box_box_1288094406_text"
                                             data-rte-editelement="true"><h4>GET IN TOUCH</h4>
                                            <p>Any questions? Let us know in store at 8th floor, 379 Hudson St, New
                                                York, NY 10018 or call us on (+1) 96 716 6879</p>
                                        </div>
                                    </div>
                                    <div></div>
                                </div>
                                <div class=" aem-GridColumn aem-GridColumn--phone--10 aem-GridColumn--offset--phone--0 aem-GridColumn--phone--none aem-GridColumn--tablet--12 aem-GridColumn--default--4">
                                    <div class="flex-m p-b-30"><i class="fs-18 color1 p-r-20 fa fa-facebook"></i><i
                                            class="fs-18 color1 p-r-20 fa fa-instagram"></i><i
                                            class="fs-18 color1 p-r-20 fa fa-pinterest-p"></i><i
                                            class="fs-18 color1 p-r-20 fa fa-snapchat-ghost"></i><i
                                            class="fs-18 color1 p-r-20 fa fa-youtube-play"></i></div>
                                    <div></div>
                                </div>
                            </div>
                            <div></div>
                        </div>
                        <div class="  aem-GridColumn aem-GridColumn--tablet--4 aem-GridColumn--offset--tablet--0 aem-GridColumn--tablet--none aem-GridColumn--default--2 aem-GridColumn--offset--default--0 aem-GridColumn--default--none aem-GridColumn--phone--12 aem-GridColumn--offset--phone--0 aem-GridColumn--phone--none">
                            <div class="aem-container aem-Grid aem-Grid--default--2 aem-Grid--tablet--4 aem-Grid--phone--12 box null">
                                <div class="  aem-GridColumn aem-GridColumn--tablet--3 aem-GridColumn--offset--tablet--0 aem-GridColumn--tablet--none aem-GridColumn--default--2 aem-GridColumn--offset--default--0 aem-GridColumn--default--none aem-GridColumn--phone--12 aem-GridColumn--offset--phone--0 aem-GridColumn--phone--none">
                                    <div>
                                        <div id="_content_spapoc_snippets-root_footer-snippet_jcr_content_root_box_box_307293807_text_2082462787"
                                             data-rte-editelement="true"><h4>CATEGORIES</h4>
                                        </div>
                                    </div>
                                    <div></div>
                                </div>
                                <div class=" aem-GridColumn aem-GridColumn--tablet--4 aem-GridColumn--default--2 aem-GridColumn--phone--2">
                                    <ul class="category-list">
                                        <li><a class="s-text13 active1" href="/en/products/What's New_38">What's New</a>
                                        </li>
                                        <li><a class="s-text13 active1" href="/en/products/Women_20">Women</a></li>
                                        <li><a class="s-text13 active1" href="/en/products/Men_11">Men</a></li>
                                        <li><a class="s-text13 active1" href="/en/products/Gear_3">Gear</a></li>
                                        <li><a class="s-text13 active1" href="/en/products/training_9/Training_9">Training</a>
                                        </li>
                                        <li><a class="s-text13 active1" href="/en/products/Sale_37">Sale</a></li>
                                    </ul>
                                    <div></div>
                                </div>
                            </div>
                            <div></div>
                        </div>
                        <div class="  aem-GridColumn aem-GridColumn--tablet--4 aem-GridColumn--offset--tablet--0 aem-GridColumn--tablet--none aem-GridColumn--default--2 aem-GridColumn--offset--default--0 aem-GridColumn--default--none aem-GridColumn--phone--12 aem-GridColumn--offset--phone--0 aem-GridColumn--phone--none">
                            <div>
                                <div id="_content_spapoc_snippets-root_footer-snippet_jcr_content_root_box_text_2082462787_copy"
                                     data-rte-editelement="true"><h4>LINKS</h4>
                                    <ul>
                                        <li><a href="http://spapoc-int-publish.cognet.local/en/products">Search</a></li>
                                        <li><a href="http://spapoc-int-publish.cognet.local/en/home/events">Events</a>
                                        </li>
                                        <li><a href="http://spapoc-int-publish.cognet.local/en/home/faq">FAQ</a></li>
                                        <li><a href="http://spapoc-int-publish.cognet.local/en/home/about-us">About
                                            Us</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div></div>
                        </div>
                        <div class=" aem-GridColumn aem-GridColumn--tablet--4 aem-GridColumn--offset--tablet--0 aem-GridColumn--tablet--none aem-GridColumn--default--4 aem-GridColumn--offset--default--0 aem-GridColumn--default--none aem-GridColumn--phone--12 aem-GridColumn--offset--phone--0 aem-GridColumn--phone--none">
                            <h4 class="s-text12 p-b-30">Newsletter</h4>
                            <form>
                                <div class="effect1 w-size9"><span class="effect1-line"></span><label
                                        class="visually-hidden" for="email">Subscribe to newsletter, please provide your
                                    email address</label><input class="s-text7 bg6 w-full p-b-5" type="text" id="email"
                                                                name="email" placeholder="email@example.com"></div>
                                <div class="w-size2 p-t-20">
                                    <button class="flex-c-m size2 bg4 bo-rad-4 hov1 m-text3 trans-0-4">Subscribe
                                    </button>
                                </div>
                            </form>
                            <div></div>
                        </div>
                        <div class="  aem-GridColumn aem-GridColumn--default--12">
                            <div class="aem-container aem-Grid aem-Grid--12 aem-Grid--default--12 box box-payment-methods">
                                <div class=" aem-GridColumn aem-GridColumn--default--12">
                                    <div class="cmp-image "><img
                                            id="_content_spapoc_snippets-root_footer-snippet_jcr_content_root_box_box_image"
                                            src="/content/spapoc/snippets-root/footer-snippet/_jcr_content/root/box/box/image.coreimg.png/1551868937456/paypal.png">
                                    </div>
                                    <div></div>
                                </div>
                                <div class=" aem-GridColumn aem-GridColumn--default--12">
                                    <div class="cmp-image "><img
                                            id="_content_spapoc_snippets-root_footer-snippet_jcr_content_root_box_box_image_2042785063"
                                            src="/content/spapoc/snippets-root/footer-snippet/_jcr_content/root/box/box/image_2042785063.coreimg.png/1551868937997/visa.png">
                                    </div>
                                    <div></div>
                                </div>
                                <div class=" aem-GridColumn aem-GridColumn--default--12">
                                    <div class="cmp-image "><img
                                            id="_content_spapoc_snippets-root_footer-snippet_jcr_content_root_box_box_image_1913615986"
                                            src="/content/spapoc/snippets-root/footer-snippet/_jcr_content/root/box/box/image_1913615986.coreimg.png/1551868937532/mastercard.png">
                                    </div>
                                    <div></div>
                                </div>
                                <div class=" aem-GridColumn aem-GridColumn--default--12">
                                    <div class="cmp-image "><img
                                            id="_content_spapoc_snippets-root_footer-snippet_jcr_content_root_box_box_image_1277287193"
                                            src="/content/spapoc/snippets-root/footer-snippet/_jcr_content/root/box/box/image_1277287193.coreimg.png/1551868936663/express.png">
                                    </div>
                                    <div></div>
                                </div>
                                <div class=" aem-GridColumn aem-GridColumn--default--12">
                                    <div class="cmp-image "><img
                                            id="_content_spapoc_snippets-root_footer-snippet_jcr_content_root_box_box_image_35811883"
                                            src="/content/spapoc/snippets-root/footer-snippet/_jcr_content/root/box/box/image_35811883.coreimg.png/1551868936813/discover.png">
                                    </div>
                                    <div></div>
                                </div>
                            </div>
                            <div></div>
                        </div>
                        <div class="  aem-GridColumn aem-GridColumn--default--12">
                            <div>
                                <div id="_content_spapoc_snippets-root_footer-snippet_jcr_content_root_box_text_642818978"
                                     data-rte-editelement="true"><p style="text-align: center;">Copyright © 2017
                                    Colorlib. All rights reserved.</p>
                                </div>
                            </div>
                            <div></div>
                        </div>
                    </div>
                    <div></div>
                </div>
            </div>
            <div></div>
        </div>
    </div>
    <div></div>
</div>